* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.logo {
    width: 139px;
    height: 60px;
}

.btn {
    background-color: #30B868;
    width: 164px;
    height: 44px;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.hero {
    min-height: 674px;

    background: url("/assets/hero-bg.png") center/cover no-repeat;
    text-align: center;
    padding: 154px 120px 134px 120px;
}

.badge {
    background-color: #ffffff;
    width: 229PX;
    margin: auto;
    height: 35px;
    padding: 8px 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 1000px;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;


}

.title {
    font-size: 70px;
    font-weight: bold;
    color: #ffffff;
}

.title2 {
    color: #30B868;
}

.discription {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    margin-top: 16px;
    margin-bottom: 32px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn1 {
    background-color: #30B868;
    width: 251px;
    height: 52px;
    border: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 12px 16px 12px 16px;
}

.btn2 {
    background-color:transparent;
    width: 198px;
    height: 52px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 16px 12px 16px;
    color: #ffffff;

}
.main-content{
 margin-top: 100px;
 
}
.discription2{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(138, 115, 115);
    margin-top: 16px;
    margin-bottom: 32px;

}
.title3{
 text-align: center;
font-size: 48px;
font-weight: 700;
}



/* main style */
header {
    background-color: #ffffff;

}

nav {
    width: 90%;
    max-width: 1920px;
    margin: 16px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;

}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}