* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.logo {
    width: 139px;
    height: 60px;
}

.btn {
    background-color: #30B868;
    width: 164px;
    height: 44px;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.hero {
    min-height: 674px;

    background: url("../assets/hero-bg.png") center/cover no-repeat;
    text-align: center;
    padding: 154px 120px 134px 120px;
}

.badge {
    background-color: #ffffff;
    width: 229PX;
    margin: auto;
    height: 35px;
    padding: 8px 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 1000px;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;


}

.title {
    font-size: 70px;
    font-weight: bold;
    color: #ffffff;
}

.title2 {
    color: #30B868;
}

.discription {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    margin-top: 16px;
    margin-bottom: 32px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn1 {
    background-color: #30B868;
    width: 251px;
    height: 52px;
    border: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    padding: 12px 16px 12px 16px;
}

.btn2 {
    background-color: transparent;
    width: 198px;
    height: 52px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 16px 12px 16px;
    color: #ffffff;

}

.btn2:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.08);
}

.btn1:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.08);
}

.btn:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.08);
}

.main-content {
    margin-top: 100px;

}

.discription2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #64748b;
    margin-top: 16px;
    margin-bottom: 32px;

}

.title3 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.features {
    max-width: 1600px;
    margin: auto;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.solution {

    max-width: 1600px;
    height: 840px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    padding: 120px;

}

.img{
    width: 600px;
    height: 600px;
}
.solution-content .label {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}

.solution-content h2 {
    font-size: 48px;
    line-height: 54px;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: capitalize;

}

.desc {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}



.features-list li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 12px;
    color: #0f172a;
}


.feature-card {
    width: 322px;
    height: 300px;
    background: #ffffff;
    border-radius: 14px;
    padding: 24px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.08);
}

.icon {
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 16px;
    font-size: 20px;
}

.feature-card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #0f172a;

}

.feature-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #64748b;
}
.ready{
    max-width: 1360px;
    height: 334px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    padding: 80px 40px 80px 40px;
    background-color: #F7F6F2;
}

.ready h1{
font-size: 40px;
font-weight: 700;
line-height: 48px;

}

.ready p{
    margin-top: 16px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer-social .icons {
    display: flex;
    gap: 14px;
    justify-content: flex-end;
    width: 92px;
    height: 20px;
    
}
.footer-social h4{
    font-size: 20px;
    color: white;
    margin-bottom: 16px;
}
.footer-bottom{
    color: white;
    margin-top: 120px;
    text-align: center;
margin-bottom: 30px;
}

/* main style */
header {
    background-color: #ffffff;

}

nav {
    width: 90%;
    max-width: 1920px;
    margin: 16px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;

}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

footer{
    background-color: #001931;
    margin-top: 120px;

height: 348px;
display: flex;
flex-direction: column;
justify-content: center;
gap: 80;
padding: 120px 120px 30px 120px;

}